$dirt-white: (#f6f6f6);
$smart-grey: (#9a9a9a);
$font-btn: (#c9c9c9);
$b: (#efefef);
$hyper: (#2896b7);
$text: (#3f4a4a);
$dark-grey: (#374949);
$friend: (#1db577);
$green: (#3daa4b);
$dark-green: (#00814a);
$good-blood: (#d24a49);
$bad-blood: (#7b0f0f);
$font-color: (#000000a6);

.--white {
  background-color: white;
}
